<!DOCTYPE html>

<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>PyPersonalCollection</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
<script type="text/ng-template" id="views/UI_tags.html">
    <ul class="nav nav-pills">
        <li ng-repeat="t in tags" ng-click="setTag($index)"
            ng-class="t.selected?'active':''"><a>{{t.name}}</a></li>
    </ul>
</script>
<script type="text/ng-template" id="views/item_add.html">
    <div class="edit-form">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-4 control-label">Type</label>

                <div class="col-sm-8">
                    <p class="form-control-static">{{item.type}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Title</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="title of {{item.type}}" ng-model="item.title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Search Sites</label>

                <div class="col-sm-6">
                    <label class="checkbox-inline" ng-repeat="s in searchs">
                        <input type="checkbox" value="{{s.surl}}" class="input-search" ng-checked="s.def">
                        {{s.name}}
                    </label>

                </div>
                <div class="col-sm-2">
                    <span class="btn btn-default btn-sm" ng-click="search()">Search</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Url</label>

                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="url for item" ng-model="item.url">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="fetch(item.url)" id="btn-add-fetch">
                            Fetch
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Author</label>

                <div class="col-sm-8">
                    <p class="form-control-static">{{item.author}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Img</label>

                <div class="col-sm-8">
                    <img class="form-control-static" ng-src="{{item.img}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Score</label>

                <div class="col-sm-8">
                    <select class="form-control" ng-model="item.score">
                        <option value="0">Select</option>
                        <option value="10">(10) Masterpiece</option>
                        <option value="9">(9) Great</option>
                        <option value="8">(8) Very Good</option>
                        <option value="7">(7) Good</option>
                        <option value="6">(6) Fine</option>
                        <option value="5">(5) Average</option>
                        <option value="4">(4) Bad</option>
                        <option value="3">(3) Very Bad</option>
                        <option value="2">(2) Horrible</option>
                        <option value="1">(1) Appalling</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Tags</label>

                <div class="col-sm-8 tags-list" on-change="setTag">

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <div class="alert alert-danger" ng-show="error">{{error}}</div>
                    <button type="submit" class="btn btn-primary btn-save" ng-click="save()"
                            ng-disabled="item.author?false:true">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>
<!-- all item -->
<script type="text/ng-template" id="views/item_all.html">
    <div>
        <div id="item-list-head" class="row">
            <span class="col-sm-2">Count: {{items.length}}</span>
            <span class="col-sm-2">password: <code>ppc$all</code></span>

            <div class="col-sm-2 dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Type: {{type}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="nav('all')">all</a></li>
                    <li><a ng-click="nav('anime')">anime</a></li>
                    <li><a ng-click="nav('manga')">manga</a></li>
                </ul>
            </div>
            <div class="col-sm-2 dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Sort: {{sort}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="nav(null,'newest')">newest</a></li>
                    <li><a ng-click="nav(null,'oldest')">oldest</a></li>
                    <li><a ng-click="nav(null,'highest')">highest</a></li>
                    <li><a ng-click="nav(null,'lowest')">lowest</a></li>
                    <li><a ng-click="nav(null,'name')">name</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <span class="glyphicon glyphicon-th view-type" ng-click="isTableView=true"></span>
                <span class="glyphicon glyphicon-th-list view-type" ng-click="isTableView=false"></span>
            </div>
        </div>
        <div class="row">
            <div class="tags-list col-sm-11" value="stags"></div>
            <span class="btn btn-info col-sm-1" ng-click="searchByTags()">Apply</span>
        </div>
        <div ng-repeat="item in items" ng-class="isTableView?'item-table-div':['item-list-div','row']"
             ng-mouseenter="hover = true"
             ng-mouseleave="hover = false">
            <img ng-src="{{item.img}}" class="item-list-cover" ng-class="isTableView?'':'col-sm-1'">

            <div class="item-list-info" ng-class="isTableView?'':'col-sm-3'">
                <div class="item-list-title">{{item.title}}</div>
                <div class="item-list-author">{{item.author}}</div>
            </div>
            <div class="item-list-type col-sm-2" ng-show="!edit">
                {{item.type}}_{{item.id}}<br>
                <a ng-href="{{item.url}}" target="_blank">link</a>
            </div>
            <div ng-class="isTableView?'':['col-sm-2','item-list-text']">
                <select class="form-control input-sm item-list-text" ng-model="item.score" ng-disabled="!edit">
                    <option value="0">Select</option>
                    <option value="10">(10) Masterpiece</option>
                    <option value="9">(9) Great</option>
                    <option value="8">(8) Very Good</option>
                    <option value="7">(7) Good</option>
                    <option value="6">(6) Fine</option>
                    <option value="5">(5) Average</option>
                    <option value="4">(4) Bad</option>
                    <option value="3">(3) Very Bad</option>
                    <option value="2">(2) Horrible</option>
                    <option value="1">(1) Appalling</option>
                </select>
            </div>
            <div class="col-sm-2 item-list-text" ng-show="!edit">
                <span ng-repeat="t in item.tags" class="item-list-tag">{{t|formatTag}}</span>
            </div>
            <div class="tags-list col-sm-4" ng-show="edit" value="item.tags"></div>
            <div class="col-sm-2 item-list-text">
                <div ng-show="hover && !edit">
                    <a class="btn btn-info btn-sm glyphicon glyphicon-pencil" ng-click="edit = true"
                       title="Edit">
                    </a>
                    <a class="btn btn-danger btn-sm glyphicon glyphicon-trash" ng-click="itemDel($index)"
                       ng-show="hover" title="Delete">
                    </a>
                </div>
                <div ng-show="edit">
                    <a class="btn btn-primary btn-sm glyphicon glyphicon-ok" ng-click="itemUpdate($index);edit=false"
                       title="Update">
                    </a>
                    <a class="btn btn-warning btn-sm glyphicon glyphicon-repeat" ng-click="edit=false"
                       title="Reset">
                    </a>
                </div>
            </div>
        </div>
        <div class="pages">
            <span ng-repeat="p in []|range:maxPage+1" ng-click="nav(null,null,p+1)"
                  ng-class="p+1==nowPage?'now':''">{{p+1}}</span>
        </div>
    </div>
</script>
<div id="nav-div">
    <ul class="nav nav-pills nav-justified">
        <li><a href="#/item/all">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                Add Item <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/item/add/anime">Add Anime</a></li>
                <li><a href="#/item/add/manga">Add Manga</a></li>
            </ul>
        </li>

        <li><a href="#">Messages</a></li>
    </ul>
</div>

<div id="content" ng-view></div>
<script>
    var apiHost = "http://" + window.location.host + "/ppc/";
</script>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular-1.2.16/angular.js"></script>
<script src="js/angular-1.2.16/angular-route.js"></script>
<script src="js/angular-1.2.16/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
